@import 'tailwindcss';

@theme {
  --color-blue-primary: #6fa4ea;
  --color-blue-secondary: #f0f6ff;
  --color-orange-primary: #feac7a;
  --color-orange-secondary: #ffe3d2;
  --color-purple-primary: #7c3aed;
  --color-purple-secondary: #f2efff;
  --color-green-primary: #2e7d32;
  --color-green-secondary: #e2f2e2;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-background-off-white: #f9fafb;
  --color-card-shadow: #e2e2e2;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-bottom: 70px; /* can change based on navbar height! */
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
